.*
*.o
*.o.*
*.a
*.s
*.ko
*.so
*.so.dbg
*.mod.c
*.i
*.lst
*.symtypes
*.order
modules.builtin
*.elf
*.bin
*.gz
*.bz2
*.lzma
*.xz
*.lzo
*.patch
*.gcno

zImage
zImage-dtb.*
uImage-dtb.*
*.dtb
*.img

/tags
/TAGS
/linux
/vmlinux
/vmlinuz
/System.map
/Module.markers
/Module.symvers

/debian/

!.gitignore
!.mailmap

include/config
include/linux/version.h
include/generated
arch/*/include/generated

patches-*

patches
series

cscope.*
ncscope.*

GPATH
GRTAGS
GSYMS
GTAGS

*.orig
*~
\#*#

smd_rpc_sym.c
